---
import { site, navigation } from "../config";

const currentPath = Astro.url.pathname;
---

<header class="site-header">
  <div class="content-container">
    <a href="/" class="site-logo">{site.title}</a>
    <nav>
      <ul class="site-nav">
        {navigation.header.map((item) => (
          <li>
            <a
              href={item.href}
              class={currentPath.startsWith(item.href) ? "active" : ""}
            >
              {item.label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  </div>
</header>
