name: Update github myprofile

on:
  page_build:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v3

    - name: Install Requirements
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-setuptools

    - name: Run Update and Push
      run: |
        # 1. 进入脚本目录并执行 Python 脚本
        cd ./github_myprofile_updater
        python3 update.py
        
        # 2. 初始化临时 Git 环境
        git init
        git config --local user.name "${GITHUB_ACTOR}"
        git config --local user.email "zhouzenghui.p@qq.com"
        
        # 3. 构建指向个人资料仓库的远程 URL (使用你的 PAT)
        # export remote_repo="https://${GITHUB_ACTOR}:${{ secrets.GHRS_GITHUB_API_TOKEN }}@github.com/${GITHUB_ACTOR}.git"
        export remote_repo="https://${GITHUB_ACTOR}:${{ secrets.GHRS_GITHUB_API_TOKEN }}@github.com/${GITHUB_ACTOR}/${GITHUB_ACTOR}.git"
        
        # 4. 强制添加文件）并提交
        git add -f README.md
        git commit -m "docs: update my profile description automatically"
        
        # 5. 强制推送到目标仓库的 main 分支
        git push "${remote_repo}" HEAD:main --force