run: |
        cd ./github_myprofile_updater
        python3 update.py
        
        # 强制切换到 main 分支名
        git init
        git checkout -b main
        
        git config --local user.name "${GITHUB_ACTOR}"
        git config --local user.email "zhouzenghui.p@qq.com"
        
        git add README.md
        git commit -m "update profile: $(date +'%Y-%m-%d %H:%M:%S')" || echo "No changes"

        # 推送：${{ github.repository }} 会自动解析成 MaxwelsDonc/MaxwelsDonc.github.io
        git push "https://${{ github.actor }}:${{ secrets.GHRS_GITHUB_API_TOKEN }}@github.com/${{ github.repository }}.git" main --force